// PRIMARY COLORS

$bandsite-black: #323232;
$bandsite-black-transparent: #3232327F;
// BandSite-Black: Primary text color for dark on light background. Dark background color.

$silver: #AFAFAF;
// Silver: Seconday text color. Inactive CTA text color.

$white: #FFFFFF;
// White: Primary text color for light on dark background. Light background color. Active CTA text color.

// SECONDARY COLORS

$bandsite-darkblack: #000000;
// BandSite-DarkBlack: CTA hover state.

$mercury: #E1E1E1;
// Mercury: Divider line. Form field outline.

$alabaster: #FAFAFA;
// Alabaster: Alternative light background color

