// FONT SYLING - TO BE CONVERTED TO REM

@use "./responsive" as *;

// DEFINING FONT WEIGHT VARIABLES

$bold: 700;
$demi: 600;
$regular: 400;

// FONT STYLINGS

html {
    font-family: Avenir Next, sans-serif;
    font-size: 14px;
}

.font {
    &__page-header {
        font-size: 24px;
        line-height: 32px;
        font-weight: $bold;
        @include tablet {
            font-size: 60px;
            line-height: 68px;
        }
    }
    
    &__section-header {
        font-size: 24px;
        line-height: 32px;
        font-weight: $bold;
        padding-top: 8px;
        padding-bottom: 16px;
        @include tablet {
            font-size: 36px;
            line-height: 44px;
            padding-top: 48px;
            padding-bottom: 36px;
        }
    }
    
    &__subheader {
        font-size: 14px;
        line-height: 22px;
        font-weight: $demi;
        @include tablet {
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__body-copy {
        font-size: 13px;
        line-height: 18px;
        font-weight: $regular;
        @include tablet {
            font-size: 14px;
            line-height: 22px;
        }

        &--quote {
            font-size: 14px;
            line-height: 24px;
            font-weight: $demi;
        }

    }

    &__footer-copy {
        font-size: 13px;
        line-height: 18px;
        font-weight: $regular;
        @include tablet {
            font-size: 14px;
            line-height: 20px;
        }
        &--demi {
            font-weight: $demi;
        }
    }

    &__labels, &__buttons {
        font-size: 10px;
        line-height: 20px;
        font-weight: $bold;
        @include tablet {
            font-size: 12px;
        }
    }

}



