// FONT SYLING - TO BE CONVERTED TO REM

@use "./responsive" as *;

// DEFINING FONT WEIGHT VARIABLES

$bold: 700;
$demi: 600;
$regular: 400;

// FONT STYLINGST

html {
    font-family: Avenir Next, sans-serif;
    font-size: 16px;
}

.font {
    &__page-header {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: $bold;
        @include tabletAndDesktop {
            font-size: 3.75rem;
            line-height: 4.25rem;
        }
    }
    
    &__section-header {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: $bold;
        padding-top: 8px;
        padding-bottom: 16px;
        @include tabletAndDesktop {
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding-top: 48px;
            padding-bottom: 36px;
        }
    }
    
    &__subheader {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: $demi;
        @include tabletAndDesktop {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    &__body-copy {
        font-size: 0.813rem;
        line-height: 1.125rem;
        font-weight: $regular;
        @include tabletAndDesktop {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }

        &--quote {
            font-size: 1.125rem;
            line-height: 2rem;
            font-weight: $demi;
            @include tabletAndDesktop {
                font-size: 1.75rem;
            }
            &-name {
                font-size: 1.125rem;
                line-height: 2rem;
                font-weight: $demi;
                margin-bottom: 1rem;
            @include tabletAndDesktop {
                margin-top: 1rem;
                margin-bottom: 2.5rem;
            }
            }
        }

    }

    &__footer-copy {
        font-size: 0.813rem;
        line-height: 1.125rem;
        font-weight: $regular;
        @include tabletAndDesktop {
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
        &--demi {
            font-weight: $demi;
        }
    }

    &__labels, &__buttons {
        font-size: 0.625rem;
        line-height: 1.25rem;
        font-weight: $bold;
        @include tabletAndDesktop {
            font-size: 0.75rem;
        }
    }

}



