// LINKING PARTIALS

@use "./partials/fonts" as *;
@use "./partials/colors" as *;
@use "./partials/responsive" as *;

// MAIN STYLING

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
}

a {
    text-decoration: none;
}

// NAV BAR STYLING

.bandsite-logo {
    font-size: 1.75rem;
    line-height: 1.25rem;
    font-weight: 300;
}

.nav {
    background-color: $bandsite-black;
    padding: 24px 0px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tabletAndDesktop {
        flex-direction: row;
        padding: 0px;
        justify-content: flex-start;
        align-items: center;
    }
    
    &__title {
        width: 100%;
        color: $white;
        text-align: center;
        @include tabletAndDesktop {
            width: auto;
            padding: 24px;
            margin: 0px 16px;
        }
        @include desktop {
            margin-left: 56px;
        }
    
    }

    &__list {
        list-style-type: none;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        @include tabletAndDesktop {
            width: auto;
        }
    }

    &__list-item {
        color: $mercury;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px;
        border-bottom: solid $mercury 0px;
        transition: 0.2s;
        &:hover {
            cursor: pointer;
            border-bottom: solid $mercury 4px;
        }
        &:active {
            color: $white;
            border-bottom: solid $white 4px;
        }
        &--active {
            color: $white;
            border-bottom: solid $white 4px;
        }
        @include tabletAndDesktop {
            margin-left: 16px;
        }
    }

}


// HERO STYLING

.hero {
    position: relative;
    height: 50svh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg, rgba($bandsite-black, 0.5), rgba($bandsite-black, 0.5)), url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position-x: right;

    @include tabletAndDesktop {
        height: calc(100svh - 70px);
    }

    &__title {
        color: $white;
        padding-left: 2rem;
    }
}

// 'ABOUT' SECTION STYLING

.about {
    width: 100%;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tabletAndDesktop {
        align-items: center;
    }

    &__title {
        color: $bandsite-black;

        @include tabletAndDesktop {
            padding-left: 20px;
            width: 100%;
        }
        @include desktop {
            padding-left: 80px;
        }
    }

    &__content-container {
        @include tabletAndDesktop {
            width: 80%;
        }
        @include desktop {
            width: 70%;
        }
    }

    &__image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 100%;
    }

    &__quote {
        color: $bandsite-black;
        margin: 16px 0px;
    }

    &__copy-title {
        color: black;
        margin-bottom: 16px;
    }

    &__copy {
        color: $bandsite-black;
        & > * {
            margin-bottom: 1rem;
        }
        &:last-child {
            margin-bottom: 0px;
        }
        @include tabletAndDesktop {
            display: flex;
            gap: 0.5rem;
            & > * {
                margin-bottom: 0rem;
            }
        }
    }
}

// PHOTO GALLERY STYLING

.gallery {
    margin-top: 24px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    @include tabletAndDesktop {
        justify-content: center;
        align-items: center;
    }
    
    &__title {
        color: $bandsite-black;
        padding-left: 16px;
        padding-bottom: 0px;
        @include tabletAndDesktop {
            width: 100%;
            padding-left: 24px;
        }
        @include desktop {
            padding-left: 100px;
        }
    }

    &__gallery-container {
        padding: 16px 16px 0px 16px;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        @include tabletAndDesktop {
            grid-template-columns: repeat(3, 1fr);
            gap: 3%;
            row-gap: 0%;
            height: fit-content;
            padding: 24px;
        }
        @include desktop {
            padding: 24px 100px;
        }
    }

    &__image-container {
        width: 100%;
        height:100%;
        height:fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }

    &__image {
        width: 100%;
    }

}

// JTC STYLING

.jtc {
    display: flex;
    flex-direction: column;
    justify-content: center;


    &__title {
        color: $bandsite-black;
        padding-left: 16px;
        padding-bottom: 0px;
        @include tabletAndDesktop {
            width: 100%;
            padding-left: 24px;
        }
        @include desktop {
            padding-left: 100px;
        }
    }

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__form-image-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__form-image {
        background-color: $mercury;
        object-fit:cover;
        aspect-ratio: 1/1;
        max-width:36px;
        border-radius: 50%;
        margin-top: 36px;
        @include tabletAndDesktop {
            max-width:48px;
        }
    }


    &__form-inputs {
        display: flex;
        flex-direction: column;
        flex: 6;
        padding: 16px;
    }

    &__form-label {
        margin-bottom: 4px;
        color: $silver;
    }

    &__form-input-name {
        min-height: 36px;
        width: 100%;
        border-radius: 4px;
        padding: 12px;
        border: solid 1px $mercury;
        margin-bottom: 16px;
        background-color: $alabaster;
        @include tabletAndDesktop {
            min-height: 48px;
            padding: 16px;
        }

        &:active {
            border-color: $bandsite-black;
        }
    }

    &__form-input-comment {
        min-height: 36px;
        width: 100%;
        border-radius: 4px;
        padding: 12px;
        border: solid 1px $mercury;
        margin-bottom: 16px;
        background-color: $alabaster;
        @include tabletAndDesktop {
            min-height: 48px;
            padding: 16px;
        }

        &:active {
            border-color: $bandsite-black;
        }
    }

    &__form-button-container {
        @include tabletAndDesktop {
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }
    }

    &__form-button {
        color: $white;
        background-color: $bandsite-black;
        height: 40px;
        width: 100%;
        border-radius: 4px;
        border: none;
        font-size: 0.875rem;

        @include tabletAndDesktop {
            width: 150px;
            padding: 0px 32px;
            position: relative;
            right: 0px;
        }

        &:hover {
            color: $white;
            background-color: $bandsite-darkblack;
        }
    }

    &__comments {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;

    }

    &__comments-divider {
        height: 1px;
        width: 100%;
        background-color: $mercury;
    }

    &__comments-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 16px 0px;
    }

    &__comments-image-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: $mercury;
        width: 36px;
        height: 36px;
        object-fit:cover;
        aspect-ratio: 1/1;
        max-width:36px;
        border-radius: 50%;
        margin: 16px 32px 0px 32px;
        @include tabletAndDesktop {
            max-width:48px;
            height: 48px;
        }
    }

    &__comments-image {
        background-color: $mercury;
        object-fit:cover;
        aspect-ratio: 1/1;
        max-width:36px;
        border-radius: 50%;
        @include tabletAndDesktop {
            max-width:48px;
        }
    }

    &__comments-text {
        flex: 6;
        padding: 16px;
    }


    &__comments-sub-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}



// FOOTER STYLING

.footer {
    background-color: $bandsite-black;
    color: $white;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    @include tabletAndDesktop {
        grid-template-columns: 1fr auto;
    }

    &__CTA {
        @include tabletAndDesktop {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
        }
    }

    &__CTA-title {
        @include tabletAndDesktop {
            margin-right: 60px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }


    &__CTA-logo-container {
        margin-bottom: 16px;
    }

    &__CTA-logo {
        margin-right: 24px;
        &:hover {
            cursor: pointer;
        }
    }

    &__contact-container {
        display: grid;
        @include tabletAndDesktop {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__contact {
        margin: 16px 0px;
        &--gap {
            margin-bottom: 16px;
        }
    }

    &__copyright {
        font-size: 12px;
        @include desktop {
            margin-top: 18px;
        }
    }

    &__bandsite-logo {
        color: $white;
        margin-top: 64px;
        margin-bottom: 12px;
    }
}


