// LINKING PARTIALS using @import for some here so $variables are available in this sheet

@import "./partials/colors";
@import "./partials/fonts";


// MAIN STYLING

//  Box-sizing border-box 

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100vw;
}

// NAV BAR STYLING

.nav {
    background-color: $bandsite-black;
    text-align: center;

    &__title {
        color: $white;
    }

    &__list {
        list-style-type: none;
        padding: 0px;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    &__list-item {
        color: $silver;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;
    }

}


// HERO STYLING

.hero {

    &__title {
        color: $white;
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position:absolute;
        padding-left: 24px;
        @include tablet {
            height: 400px;
        }
        @include desktop {
            height: 600px;
        }
    }
    

    &__image {
        background: url(/assets/images/hero-bio.jpg);
        background-size: cover;
        width: 100%;
        height: 300px;
        @include tablet {
            height: 400px;
        }
        @include desktop {
            height: 600px;
        }
    }
}


.about {
    width: 100%;

    // &__title {

    // }

    &__image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 90%;
    }
}



// ###################
// COLORS
// $bandsite-black: #323232;
// // BandSite-Black: Primary text color for dark on light background. Dark background color.

// $silver: #AFAFAF;
// // Silver: Seconday text color. Inactive CTA text color.

// $white: #FFFFFF;
// // White: Primary text color for light on dark background. Light background color. Active CTA text color.

// // SECONDARY COLORS

// $bandsite-darkblack: #000000;
// // BandSite-DarkBlack: CTA hover state.

// $mercury: #E1E1E1;
// // Mercury: Divider line. Form field outline.

// $alabaster: #FAFAFA;
// // Alabaster: Alternative light background color
// ####################

