// LINKING PARTIALS

@use "./partials/_colors.scss";
@use "./partials/fonts.scss";


// RESPONSIVE DESIGN MIXINS

// NB phone screen must work from 320px to 767px

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

// MAIN STYLING

/* Box-sizing border-box */

* {
    margin: 0px;
    box-sizing: border-box;
    @include tablet {
        background: red;
    }
    font-size: 13px;
}









// SASS STYLING REMINDER - NESTING AND RESPONSIVE DESIGN


// * {
//     box-sizing: border-box;
//     background-color: red;
//     @include tablet {
//         background-color: blue;
//     }
//     @include desktop {
//         background-color: green;
//     }
// }

// .header {
//     background-color: #bbbbbb;
//     padding: 1rem;
//     text-align: center;
//     display: flex;
//     justify-content: space-between;
//     align-items: baseline;

//     &__logo {
//         font-size: 2rem;
//     }

//     &__header-left,
//     &__header-right {
//         display: none;
//     }
// }

