@use "./partials/fonts" as *;
@use "./partials/colors" as *;
@use "./partials/responsive" as *;
@use "./bio.scss" as *;



// HERO STYLING

.hero-shows {
    position: relative;
    height: 50svh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(45deg, rgba($bandsite-black, 0.5), rgba($bandsite-black, 0.5)), url(../assets/images/hero-shows.jpg);
    background-size: cover;
    background-position-x: right;

    @include tabletAndDesktop {
        height: calc(100svh - 70px);
    }

    @include desktop {
        flex-direction: row;
        align-items: center;
        padding: 4rem;
    }

    &__soundcloud {
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;

        @include tabletAndDesktop {
            max-width: 500px;
        }
    }

    &__title {
        color: $white;
        padding-left: 2rem;
        padding-right: 30%;
    }

    &__subtitle {
        color: $white;
        padding-left: 2rem;
        padding-right: 30%;
        margin-bottom: 1rem;
        font-size: 16px;
    }
}


.shows {
    @include tabletAndDesktop{
        padding: 1rem;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
    }


    &__title {
        padding: 1rem;
        color: $bandsite-black;

        @include desktop {
            flex: 1;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    &__list {
        list-style-type: none;
        @include desktop {
            flex: 5;
            padding-top: 2rem;;
        }

    }

    &__list-item {
        padding: 2rem 1rem;
        @include tabletAndDesktop {
            display: flex;
            flex-direction: row;
        }

        &:not(.shows__list-item--active):hover {
            background-color: $alabaster;
          }
        
        &--active {
            background-color: $mercury;
        }
    }


    &__label {
        color: $silver;
        font-size: 12px;

        @include tabletAndDesktop {
            display: none;
          }

    }

    &__label-header-container {
        display: none;

        @include tabletAndDesktop {
            display: flex;
            flex-direction: row;
          }
    }

    &__label-header {
        color: $silver;
        font-size: 12px;
        flex: 1;
        padding: 1rem;
    }



    &__date {
        font-size: 16px;

        @include tabletAndDesktop {
            flex: 1;
          }
    }

    &__venue {
        font-size: 16px;

        @include tabletAndDesktop {
            flex: 1;
          }
    }

    &__location {
        font-size: 16px;

        @include tabletAndDesktop {
            flex: 1;
          }
    }

    &__button {
        width: 100%;
        height: 48px;
        border: none;
        border-radius: 4px;
        background-color: $bandsite-black;
        color: $white;
        font-size: 20px;
        cursor: pointer;

        @include tabletAndDesktop {
            flex: 1;
          }
    }

    &__button:hover {
        background-color: $bandsite-darkblack;
      }
    
    

    &__divider{
        background-color: $mercury;
        width: 100%;
        height: 1px;
    }

    

}







.shows-iframe {
    margin-top: 2rem;
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
    Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}